.bashrc
.inputrc
.Xauthority
.cache/
result
*.o
*.o.d
lib/mstch/CMakeFiles/*
lib/mstch/src/CMakeFiles/*
lib/mstch/Makefile
lib/mstch/src/Makefile
lib/mstch/.*
*.cmake
*.a
lib/mstch/CMakeCache.txt
hivemind
hivemind-release.tar.gz
mtg.json
.cache/
compile_commands.json